body {
  width: 100%;
  height: 100%;

  background-image: $background-gradient;
  background-repeat: no-repeat;
}

.layout-container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 70vw;

  margin: 4rem auto;

  @include respond(tablet-portrait) {
    width: 85vw;
  }

  @include respond(phone) {
    width: 90vw;
  }
}

.loading,
.error {
  height: 100vh;
  margin-top: 5rem;
}
