body {
  width: 100%;
  height: 100%;

  background-image: $background-gradient;
  background-repeat: no-repeat;
}

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 70vw;

  margin: 4rem auto;
}

.loading,
.error {
  height: 100vh;
  margin-top: 5rem;
}
