.details-panel {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 3rem;

  padding: 5rem 0;
  border-bottom: 0.2rem solid $color-primary-gray;

  @include respond(phone) {
    padding: 3rem 0;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__left {
    @include respond(tablet-portrait) {
      flex-grow: 1;
    }

    & .learn-more {
      width: fit-content;

      padding: 2rem 4rem;

      margin-top: 1.6rem;

      border: 0.2rem solid $color-primary-white;
      color: $color-primary-white;

      text-transform: uppercase;
      text-align: center;

      cursor: pointer;

      @include respond(tablet-portrait) {
        width: inherit;
        margin-top: 0rem;
      }

      &:hover {
        opacity: 0.8;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.2;
      }
    }
  }

  &__right {
    width: 40%;

    text-align: right;

    @include respond(tablet-portrait) {
      text-align: left;
      width: 100%;
    }

    & .full-date {
      display: none;
      width: inherit;

      @include respond(tablet-portrait) {
        display: block;
      }
    }

    & .short-date {
      display: block;

      @include respond(tablet-portrait) {
        display: none;
      }
    }

    & .launch-site {
      position: relative;

      cursor: default;

      &__tag {
        display: none;
        position: absolute;
        top: 2.6rem;
        right: 6rem;
        width: fit-content;
      }

      & h3 {
        display: inline;
      }

      & h3:hover {
        opacity: 0.8;

        @include respond(phone) {
          opacity: 1;
        }

        & ~ .launch-site__tag {
          display: block;

          @include respond(phone) {
            display: none;
          }
        }
      }
    }
  }
}
