.header {
  width: 100%;
  padding: 4rem 0;

  text-align: center;

  border-bottom: 0.2rem solid $color-secondary-gray;

  @include respond(phone) {
    padding: 3rem 0;
  }

  & svg {
    fill: $color-primary-white;
    overflow: visible;
  }
}
