// DEFAULT BROWSER RESET
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  // font-weight: 400;
}

html {
  //This defines what 1rem is - 1rem = 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1;
}

.button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: left;
  background: transparent;

  font-family: inherit;
  font-weight: inherit;

  &:focus {
    outline: none;
  }
}

.swiper-wrapper {
  box-sizing: border-box !important;
}

// override swiper styling

// prevents swiper to flicker on swipe in safari
.swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

.swiper {
  position: unset;
}

// override swiper default arrows
.swiper-button-next {
  transform: translateZ(0);
  backface-visibility: hidden;

  mask-image: url(../../icons/arrow-right.svg);
  mask-repeat: no-repeat;
  mask-position: 100%;
  mask-size: auto;

  background-color: $color-primary-white;
}

.swiper-button-prev {
  transform: translateZ(0);
  backface-visibility: hidden;

  mask-image: url(../../icons/arrow-left.svg);
  mask-repeat: no-repeat;
  mask-position: 100%;
  mask-size: auto;

  background-color: $color-primary-white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
