// DEFAULT BROWSER RESET
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;

  font-weight: 400;
}

html {
  //This defines what 1rem is - 1rem = 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: left;
  background: transparent;

  font-family: inherit;
  font-weight: inherit;

  &:focus {
    outline: none;
  }
}
